<form [formGroup]="form()">
    <div class="form-group select">
        <label>User:</label>
        <select formControlName="userId">
            @for (user of users(); track user._id) {
                <option [value]="user._id">
                    {{ user.name }}
                </option>
            }
        </select>
    </div>
    <app-text-control label="Contacts" controlName="contacts" />
    <app-text-control label="User name" controlName="userName" />
    <app-text-control label="Date" controlName="date" type="date" />
    <ng-container formArrayName="variants">
        <ul>
            @for (
                variant of form().controls.variants.controls;
                track variant.getRawValue()._id +
                    variant.getRawValue().quantity +
                    variant.getRawValue().price
            ) {
                <li [formGroupName]="$index">
                    <div class="form-group">
                        <label>Variant:</label>
                        <select formControlName="_id">
                            @for (variant of variants(); track variant._id) {
                                <option [value]="variant._id">
                                    {{ variant.name }}
                                </option>
                            }
                        </select>
                        @let variantControl = variant.controls._id;
                        @if (variantControl.invalid && variantControl.touched) {
                            <div class="error">Variant is required</div>
                        }
                    </div>
                    <app-text-control label="Quantity" controlName="quantity" type="number" />
                    <app-text-control label="Price" controlName="price" type="number" />
                    <button class="link" (click)="removeVariant($index)">Remove</button>
                </li>
            }
        </ul>
        <button class="link" (click)="addVariant()">Add</button>
    </ng-container>
</form>
