<form [formGroup]="form()">
    <app-text-control label="Contacts" controlName="contacts" />

    <app-text-control label="User name" controlName="userName" />

    <app-text-control label="Date" controlName="date" type="date" />

    <ng-container formArrayName="variants">
        <ul>
            @for (variant of form().controls.variants.controls; track variant.value._id) {
                <li [formGroupName]="$index">
                    <div class="form-group">
                        <label>Variant:</label>
                        <select formControlName="_id">
                            @for (variant of variants(); track variant._id) {
                                <option [value]="variant._id">
                                    {{ variant.name }}
                                </option>
                            }
                        </select>
                        @let variantControl = variant.controls._id;
                        @if (variantControl.invalid && variantControl.touched) {
                            <div class="error">Variant is required</div>
                        }
                    </div>
                    <app-text-control label="Quantity" controlName="quantity" type="number" />
                    <app-text-control label="Price" controlName="price" type="number" />
                    <button (click)="removeVariant($index)">Remove</button>
                </li>
            }
        </ul>
        <button (click)="addVariant()">Add</button>
    </ng-container>
</form>
