<form [formGroup]="form()">
    <ng-container formArrayName="inventory">
        <ul>
            @for (
                inventory of form().controls.inventory.controls;
                track inventory.getRawValue().inventoryId +
                    inventory.getRawValue().quantityInCost +
                    inventory.getRawValue().quantityInUse +
                    inventory.getRawValue().duringManufacture
            ) {
                <li [formGroupName]="$index">
                    <div class="form-group select">
                        <label>Name:</label>
                        <select formControlName="inventoryId">
                            @for (
                                materialOption of availableInventory();
                                track materialOption._id
                            ) {
                                <option [value]="materialOption._id">
                                    {{ materialOption.name }} - залишок/{{
                                        materialOption.amount - materialOption.used
                                    }}
                                    - paid/{{ materialOption.paid }}
                                </option>
                            }
                        </select>
                        @let inventoryControl = inventory.controls.inventoryId;
                        @if (inventoryControl.invalid && inventoryControl.touched) {
                            <div class="error">Inventory is required</div>
                        }
                    </div>
                    <app-text-control
                        label="Quantity in use"
                        controlName="quantityInUse"
                        type="number" />
                    <app-text-control
                        label="Quantity in cost"
                        controlName="quantityInCost"
                        type="number" />
                    <div class="form-group">
                        <label for="duringManufacture">During Manufacture</label>
                        <input
                            id="duringManufacture"
                            type="checkbox"
                            formControlName="duringManufacture"
                            placeholder="Enter During Manufacture" />
                        @let control = inventory.controls.duringManufacture;
                        @if (control) {
                            <app-error-messages
                                [touched]="control.invalid && control.touched"
                                [errors]="control.errors" />
                        }
                    </div>
                    @if (canSave()) {
                        <button class="link" (click)="removeInventory($index)">Remove</button>
                    }
                </li>
            }
        </ul>
        @if (canSave()) {
            <button class="link" (click)="addInventory()">Add</button>
        }
    </ng-container>
</form>
