<form [formGroup]="form()">
    <ng-container formArrayName="variants">
        <ul>
            @for (
                variant of form().controls.variants.controls;
                track variant.getRawValue().size +
                    variant.getRawValue().color +
                    variant.getRawValue().quantity
            ) {
                <li [formGroupName]="$index">
                    <app-text-control label="Size" controlName="size" />
                    <app-text-control label="Color" controlName="color" />
                    <app-text-control label="Quantity" controlName="quantity" type="number" />
                    @if (canSave() && form().getRawValue().variants.length > 1) {
                        <button class="link" (click)="removeVariant($index)">Remove</button>
                    }
                </li>
            }
        </ul>
        @if (canSave()) {
            <button class="link" (click)="addVariant()">Add Variant</button>
        }
    </ng-container>
</form>
