<form [formGroup]="form()">
    <ng-container formArrayName="job">
        <ul>
            @for (
                job of form().controls.job.controls;
                track form().getRawValue()._id + job.value.name + job.value.cost
            ) {
                <li [formGroupName]="$index">
                    <app-text-control label="Name" controlName="name" />
                    <app-text-control label="Cost" controlName="cost" type="number" />
                    <button class="link" (click)="removeJob($index)">Remove</button>
                </li>
            }
        </ul>
        <button class="link" (click)="addJob()">Add</button>
    </ng-container>
</form>
